<h1>Siemaneczko{{title}}</h1>
<!-- interpolacja -->
<img src="assets/Images/zdj2.jpg" alt="zdj" srcset="" *ngIf="aktywne else brakZdj">
<br>
<img src="{{urlzdj3}} " *ngIf="aktywne else brakZdj"> <!-- tak wyswitla sie zjd -->
<img [src]="urlzdj2" *ngIf="aktywne else brakZdj"><!-- tak wyswitla sie zjd -->
<button type="button" (click)="Zobacz()">Zmien</button>
<ng-template #brakZdj>
  <img src="{{brak}}">
</ng-template>
<br>
<br>
<br>
<button type="button" (click)="zwieksz()">{{licznik}}</button><!-- ()<- te wiazanie od html do ts -->
<input type="number" [(ngModel)]="licznik">
<!-- zeby uzywać ng model czyli cos takiego [()] który wymienia wartosc z zmieną i z tym co się wyświtla musiś dodać w app modules.ts coś takiego w inportach  FormsModule -->
<br>
<h4>nowe</h4>

<h2 [ngStyle]="{'background-color':kolory[wybrany]}">KursyProgramowanie</h2>
<ol>
  <li *ngFor="let kurs of kursyProgramowanie">
    {{kurs}}
  </li>
</ol>
<br>
<button type="button" (click)="Formatuj()">Zmien Kolor</button> <!-- tu jest formotowanie  -->
<h3>Akapity zmiana z kasach z css</h3>
<p class="a b"> Pierwsz teks z kalsą c</p>
<!-- control shift plus ` <- to otwiera terminal w cc -->
<!-- alt control f poprawia kod -->
 <!-- npx ng g c kurs do towrzenia klass -->



<h2>Mleko123</h2>
<br>
<br>
 <p>Wybierz kurs którego szczegóły chcesz wyświtlić </p>
 <select [(ngModel)]="wybranyKurs">
  <option *ngFor="let kurs of kursyProgramowanie">
    {{kurs}}
  </option>
 </select>
 <app-kurs>
  <!-- zeby wyswietlić app dajesz app- i nazwa tej klasy -->
 </app-kurs>